build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
/cmake-build
/bin
/build-stamp
/configure-stamp
tests/db/orm/dpl_orm_test.db-journal
.cproject
.project
debian/files
debian/wrt-commons-dbg.substvars
debian/wrt-commons-dbg/*
debian/wrt-commons-dev.substvars
debian/wrt-commons-dev/*
debian/wrt-commons.postinst.debhelper
debian/wrt-commons.postrm.debhelper
debian/wrt-commons.substvars
debian/wrt-commons/*
