#!/usr/bin/make -f

#export DH_VERBOSE=1
PACKAGE_VERSION ?= $(shell sed -n "1 p" debian/changelog | sed 's/.*([0-9]*.\([0-9]*\).*).*/\1/')
CFLAGS = -Wall -g
LDFLAGS = -Wl,--as-needed -Wl,--hash-style=both 

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifneq (,$(findstring yes,$(DPL_LOG)))
	DPL_LOGS_STATUS = "ON"
else
	DPL_LOGS_STATUS = "OFF"
endif

BUILD_DIR = cmake-build

configure: configure-stamp
configure-stamp:
	dh_testdir	
	rm -rf $(BUILD_DIR)
	mkdir $(BUILD_DIR)
	( cd $(BUILD_DIR); cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DDPL_LOG=$(DPL_LOGS_STATUS) -DVERSION=${PACKAGE_VERSION}; )
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	( cd $(BUILD_DIR); $(MAKE) -j 4 )
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(BUILD_DIR)
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	( cd $(BUILD_DIR); $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install )
	cd ..

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/tmp
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip --dbg-package=wrt-commons-dbg
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
